In [1]:
import pandas as pd

/tmp/ipykernel_17986/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_airbnb = pd.read_csv("./data/airbnb.csv")

In [3]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [4]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

In [5]:
# Caso 1: Alicia buscando un apartamento
alicia_criteria = (df_airbnb['reviews'] > 10) & (df_airbnb['overall_satisfaction'] > 4)
alicia_results = df_airbnb[alicia_criteria].sort_values(by=['overall_satisfaction', 'reviews'], ascending=[False, False]).head(3)

In [7]:
# Mostrar resultados
print("Caso 1 - Alternativas para Alicia:")
display(alicia_results)

Caso 1 - Alternativas para Alicia:

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
931,1085634,5968047,Entire home/apt,Misericórdia,379,5.0,2,1.0,52.0
212,299321,199452,Entire home/apt,Santo António,337,5.0,2,1.0,87.0

In [13]:
# Caso 2 - Crear un dataframe con las propiedades de Roberto y Clara
id_roberto = 97503
id_clara = 90387

df_roberto_clara = df_airbnb[(df_airbnb['room_id'] == id_roberto) | (df_airbnb['room_id'] == id_clara)]

In [14]:
# Guardar el dataframe como excel
df_roberto_clara.to_excel("roberto.xlsx", index=False)
print("DataFrame con las propiedades de Roberto y Clara guardado como roberto.xlsx")

DataFrame con las propiedades de Roberto y Clara guardado como roberto.xlsx

In [15]:
# Caso 3: Diana buscando alojamiento económico
diana_criteria = (df_airbnb['price'] <= 50) & (df_airbnb['room_type'] == 'Shared room')
diana_results = df_airbnb[diana_criteria].sort_values(by=['price', 'overall_satisfaction'], ascending=[True, False]).head(10)

In [16]:
print("\nCaso 3 - Opciones económicas para Diana:")
print(diana_results)

Caso 3 - Opciones económicas para Diana:
        room_id    host_id    room_type       neighborhood  reviews  \
1010    1179457    5799522  Shared room      Santo António       42
3562    5557699   28812904  Shared room  Santa Maria Maior       22
7584   13116032   72951043  Shared room            Arroios        1
13148  19314160  135270245  Shared room        Santa Clara        0
9065   14933182   91501272  Shared room      Santo António        5
4353    6728244   28812904  Shared room  Santa Maria Maior        8
5616    9317561   48360716  Shared room            Arroios       13
6640   11693356   28812904  Shared room  Santa Maria Maior        3
6641   11693442   28812904  Shared room  Santa Maria Maior       16
8908   14708916   91501272  Shared room      Santo António       18

       overall_satisfaction  accommodates  bedrooms  price
1010                    4.0            16       1.0   10.0
3562                    4.0             1       1.0   10.0
7584                    0.0             8       1.0   10.0
13148                   0.0             1       1.0   10.0
9065                    5.0             8       1.0   11.0
4353                    4.5             1       1.0   11.0
5616                    4.5             4       1.0   11.0
6640                    4.5             1       1.0   11.0
6641                    4.5             1       1.0   11.0
8908                    4.5             4       1.0   11.0